.layer {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 80vw;
  max-width: 700px;
  opacity: 0;
  visibility: hidden;
}

.modal__inner {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  display: block;
  padding: 21px 8px 21px;
  height: auto;
  max-height: 70vh;
  overflow-y: auto;
}

.modal__content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.modal__button-wrap {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-flex;
}

.close-button {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  border: transparent;
  cursor: pointer;
}

.close-button span {
  width: 25px;
  height: 2px;
  background: #fff;
  display: inline-block;
  position: absolute;
  left: calc(50% - 12px);
  top: 50%;
  border-radius: 20px;
}

.close-button span:nth-child(1) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.close-button span:nth-child(2) {
  transform: rotate(-45deg) translate(1px, -1px);
}

.layer.is-open {
  z-index: 999;
  opacity: 1;
  visibility: visible;
}

.layer.is-open .modal {
  opacity: 1;
  visibility: visible;
}

.modal-button {
  margin: 10px;
  margin-top: 2%;
  width: 300px;
  height: 10vh;
}

.word-list {
  list-style: none;
  padding: 0;
}

.word-list li {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  font-size: 1.2em;
  text-align: center;
}
