body {
  height: 100%;
  margin: 0;
  background-color: skyblue;
}

.home-button-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-link {
  padding: 5%;
  margin: 5%;
  font-size: 100%;
  border: none;
  border-radius: 8px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  user-select: none;
  align-items: center;
}

@keyframes pulse-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.button-link:hover {
  animation: pulse-scale 1s infinite ease-in-out;
  background-color: #12af12;
}

.button-link:active {
  transform: translateY(5px);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 25px;
}

.button {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 150px;
  font-size: 100%;
  border: none;
  border-radius: 8px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.button.disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.7;
}

.button:active {
  transform: translateY(2px);
}

.button.disabled:active {
  transform: none;
}

.text-input {
  padding: 10px;
  margin: 10px, 10px, 0px;
  width: 300px;
}

.text-input.error {
  border: 2px solid red;
  background-color: #ffe6e6;
}

.back-link {
  background-color: transparent;
  border: none;
  color: black;
  background-color: #3498db;
  font-size: 20px;
  cursor: pointer;
  padding: 20px;
  text-align: left;
  text-decoration: none;
  user-select: none;
}

#input-error {
  color: #b9314f;
  font-size: 15px;
  left: auto;
}

.is-hidden {
  visibility: hidden;
}

.highlight {
  color: red;
  font-weight: bold;
}

.join-button {
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 300px;
  padding: 10px;
  margin-top: 30px;
}

.join-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
}

#players-wrapper {
  overflow-x: hidden;
}

#players {
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 300px;
}

#players li {
  list-style: none;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px 0;
  max-width: 90vw;
  font-size: 30px;
  -webkit-text-stroke: 1px black;
  font-weight: bold;
}

#players span {
  font-size: 15px;
  color: red;
  -webkit-text-stroke: 0px black;
}

#start-button {
  display: none;
  margin: 10px;
  padding: 20px;
  width: 30vw;
  min-width: 300px;
  height: 100px;
  background-color: #12af12;
}

#turn-display span {
  -webkit-text-stroke: 1px black;
  font-weight: bold;
}

.he11-mode {
  height: 100vh;
  background: linear-gradient(
    to right,
    #e60000,
    #f39800,
    #fff100,
    #009944,
    #0068b7,
    #1d2088,
    #920783
  );
}
@keyframes rainbow {
  0% {
    background: #e60000;
  }
  14% {
    background: #f39800;
  }
  28% {
    background: #fff100;
  }
  42% {
    background: #009944;
  }
  56% {
    background: #0068b7;
  }
  70% {
    background: #1d2088;
  }
  85% {
    background: #920783;
  }
  100% {
    background: #e60000;
  }
}
